<div class="container">
    <form autocomplete="off">
        <div class="ui-g">
            <div class="ui-g-12">
                <h1> Cadastrar Categoria</h1>
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
                <label> Nome</label>
                <input pInputText type="text" name="nome">
            </div>

            <div class="ui-g-12 ui-fluid">
                <button pButton type="submit" label="Salvar"></button>
                <button pButton type="button" label="Nova"></button>
                <a routerLink="/categorias">Voltar para a Pesquisa</a>
            </div>
        </div>
    </form>
</div>